@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.3rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 120em;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
}
.wrapper {
  max-width: 95em;
  background-color: transparent;
  margin: auto;
}
.hero {
  background-image: url("./faq-bg.png");
  background-size: cover;
  position: relative;
  height: 390px;
}

.overlay {
  height: 390px;
  width: 100%;
  background-image: linear-gradient(transparent, #1c3c6b);
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}
.nav {
  width: 100%;
  display: flex;
}
.nav .navlinks {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
.navbar .button {
  display: none;
}
.nav a {
  text-decoration: none;
  color: white;
}
.side-menu {
  display: flex;
  gap: 1rem;
}

.side-menu a {
  text-decoration: none;
  color: white;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3.5rem;
}
.search {
  display: flex;
  width: 50%;
}
.search-bar h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}

.searchTerm {
  width: 80%;
  color: #646060;
  font-weight: 400;
  font-size: 14px;
  border: none;
  outline: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  padding: 10px 25px;
  width: 100%;
}

.searchTerm:focus {
  color: #fff;
}

.searchButton {
  color: #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  border: none;
  outline: none;
  padding: 10px;
}
.main {
  display: flex;
  gap: 4rem;
}
.left-part i {
  font-size: 80px;
}

.left-part h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.right-part {
  width: 50%;
  height: 390px;
}
/* footer */
.footer {
  background-color: #1c3c6b;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}
.footer h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}
.footer-copyright h3 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}
.footer-left {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-left p {
  color: #e0e0e0;
}
.footer-center {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-center p {
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}
.footer-right p {
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}
.footer-right {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-icons img {
  color: #fff;
}
.location-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.email-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-right1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home {
  width: 50%;
}
.facilities {
  width: 50%;
}
.footer-right2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.services-footer {
  width: 50%;
}
.commitee {
  width: 50%;
}
.footer-right3 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.news {
  width: 50%;
}
.enquiry {
  width: 50%;
}
.footer-right4 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tourist {
  width: 50%;
}
.faq {
  width: 50%;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.3rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 120em;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
}
.wrapper {
  max-width: 95em;
  background-color: transparent;
  margin: auto;
}
.hero {
  background-image: url("./faq-bg.png");
  background-size: cover;
  position: relative;
  height: 390px;
}

.overlay {
  height: 390px;
  width: 100%;
  background-image: linear-gradient(transparent, #1c3c6b);
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo img {
  width: 80px;
  height: 80px;
}
.nav {
  width: 100%;
  display: flex;
}
.nav .navlinks {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}
.navbar .button {
  display: none;
}
.nav a {
  text-decoration: none;
  color: white;
}
.side-menu {
  display: flex;
  gap: 1rem;
}

.side-menu a {
  text-decoration: none;
  color: white;
}

.search-bar h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
}
.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  color: #fff;
  backdrop-filter: blur(12px);
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -32px;
  right: -60px;
  color: #fff;
}

.main {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.left-part i {
  font-size: 80px;
}
.left-part span {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #757575;
}
.left-part p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  color: #212020;
}
.left-part h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 53px;

  color: #000000;
}
.left-part {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right-part {
  width: 50%;
  height: 390px;
}
/* footer */
.footer {
  background-color: #1c3c6b;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}
.footer h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}
.footer-copyright h3 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}
.footer-left {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-left p {
  color: #e0e0e0;
}
.footer-center {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-center p {
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}
.footer-right p {
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}
.footer-right {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-icons img {
  color: #fff;
}
.location-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.email-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-right1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home {
  width: 50%;
}
.facilities {
  width: 50%;
}
.footer-right2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.services-footer {
  width: 50%;
}
.commitee {
  width: 50%;
}
.footer-right3 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.news {
  width: 50%;
}
.enquiry {
  width: 50%;
}
.footer-right4 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tourist {
  width: 50%;
}
.faq {
  width: 50%;
}
.right-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.right-part h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
.right-part p {
  font-size: 16px;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
}
.breadcrumb {
  list-style: none;
}

.breadcrumb-item {
  display: inline;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

.breadcrumb li + li:before {
  color: black;
  content: ">";
}

.breadcrumb-item a {
  color: #2e4053;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #2e4053;
}
.left-part i {
  font-size: 20px;
  border-radius: 2px solid grey;
}
