@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
*{
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 120em;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
}
.wrapper {
    max-width: 95em;
    background-color: transparent;
    margin: auto;
}
.hero {
    background-image: url("./forest.jpg");
    height: 100vh;
    background-size: cover;
    position: relative;
    width: 100%;
}

 .overlay {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(transparent, #1c3c6b);
} 

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
}
.logo {
    width: 20%;
}
.logo img {
    width: 112px;
    height: 112px;
}
.nav {
    width: 60%;
    display: flex;
    gap: 1.5rem;
}
.nav a {
    text-decoration: none;
    color: white;
}
.side-menu {
    width: 20%;
    display: flex;
    gap: 1.5rem;
}
.side-menu a {
    text-decoration: none;
    color: white;
}
.blue {
    background-color: #1c3c6b;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
    height: 700px;
}

.blue h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 53px;
    letter-spacing: 0.04em;
    font-family: "Playfair Display", serif;
    color: #ffffff;
}
.blue p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.04em;

    color: #d7d7d7;
}
.welcome-wrapper {
    display: flex;
    flex-direction: row;
}
.welcome-part {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.play {
    width: 50%;
}
.blue-images-wrap {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    gap: 1rem;
    justify-content: space-around;
    transform: translate(10px, -245px);
}
.road {
    width: 50%;
    background-image: url("./road.png");
    background-size: cover;
    position: relative;
    height:389px;
    
}
.road p{
    color: #D7D7D7;
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif;
}
.afforestation {
    width: 25%;
    background-image: url("./afforestation.png");
    background-size: cover;
    position: relative;
    height:389px;
}
.afforestation p{
    color: #D7D7D7;
}
.fix {
    width: 25%;
    background-image: url("./fix.png");
    background-size: cover;
    position: relative;
    height:389px;
}
.fix p{
    color: #D7D7D7;
}
.overlay1 {
        background-image: linear-gradient( to bottom, transparent, #000);
        height: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: end;
    
}
.overlay1-text{
    padding-right: 10px;
    padding-left:10px;
}
.overlay2-text{
    padding-right: 10px;
    padding-left:10px;
}
.overlay3-text{
    padding-right: 10px;
    padding-left:10px;
}
.overlay4-text{
    padding-right: 10px;
    padding-left:10px;
}
.overlay1 h1{
    font-weight: 600;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;

}
.overlay2 {
    background-image: linear-gradient( to bottom, transparent, #000);
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: end;
}
.overlay2 h1{
    font-weight: 600;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;

}
.overlay3 {
    background-image: linear-gradient( to bottom, transparent, #000);
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: end;
}

.overlay3 h1{
    font-weight: 600;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;

}
.overlay4 {
    background-image: linear-gradient( to bottom, transparent, #000);
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: end;
}
.overlay4 h1{
    font-weight: 600;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;

}

.members {
    background-color: white;
  
}
.members-text {
    display: flex;
    flex-direction: column;

    text-align: center;
}
.main-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* or 60px */
    font-family: "Playfair Display", serif;
    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;
}
.sub-text{
    display: flex;
 justify-content: space-around;
}

.sub-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; 
    font-family: "IBM Plex Sans", sans-serif;
    color:#4B4B4B;
    line-height: 150%;

}
.services-maintext {
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;

    color: #000000;
}
.services p {
    color: #CCCACA;
    font-size: 1rem;
}
.services-subtext {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #7e7e7e;
}
.services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-button button {
    background: #1c3c6b;
    border-radius: 6px;
    height: 30px;
    width: 90px;
    border-color: transparent;
    color: #fff;
    cursor:pointer;
}
.facilities-button button {
    background: #c9c9c9;
    border-radius: 6px;
    height: 30px;
    width: 90px;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.services-facilities-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.services-images {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 20px;
    height: 400px;
    gap:20px;
}
.services-images1 {
    width: 25%;
    background-image: url("./Rectangle\ 3.png");
    background-size: cover;
    position: relative;
    height:362px;
}
.services-images2 {
    width: 25%;
    background-image: url("./Rectangle\ 3.png");
    background-size: cover;
    position: relative;
    height:362px;
}
.services-images3 {
    width: 25%;
    background-image: url("./Rectangle\ 3.png");
    background-size: cover;
    position: relative;
    height:362px;
}

.services-images4 {
    width: 25%;
    background-image: url("./Rectangle\ 3.png");
    background-size: cover;
    position: relative;
    height:362px;
}
.gallery{
    height: 852px;
    background: #1c3c6b;
}
.gallery-wrap {
    height: 852px;
    display: flex;
    flex-direction: row;
    gap:16rem;
  
}
.gallery-text{
    
}
.gallery-left{
   width:50%;
   height: 852px;
   display: flex;
   align-items: center;

  
}
.gallery-right{
    width:50%;
    height: 852px;
    display: flex;
    align-items: center;
 }
 .gallery h1{
     font-size: 40px;
     font-weight: 700;
     font-family: "Playfair Display", serif;
     color: #F4F4F4;
 }
 .gallery h4{
    font-size: 20px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    color: #fff;
}
.gallery p{
    font-size: 1rem;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;
    color: #E8E7E7;
    line-height: 21px;
}
.contact {
    height: 600px;
    display: flex;
    width: 100%;
}
.conatct-left {
    height: 500px;
    width: 50%;
}
.contact-right {
    height: 615px;
    width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactUsForm{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
/* contact form */
.name {
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.phone-email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
input {
    height: 55px;
    border-radius: 6px;
    width: 250px;
}
textarea {
    width: 525px;
    border-radius: 6px;
}
.send-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;
}
.send-btn button {
    background-color: #00b2ff;
    border-radius: 6px;
    border-color: transparent;
    width: 128px;
    height: 44px;
    cursor:pointer
}
.fname input {
    background-color: #f5f5f5;
    border-color: transparent;
    border-radius: 6px;
}
.lname input {
    background-color: #f5f5f5;
    border-color: transparent;
    border-radius: 6px;
}
.phone input {
    background-color: #f5f5f5;
    border-color: transparent;
    border-radius: 6px;
}
.email input {
    background-color: #f5f5f5;
    border-color: transparent;
    border-radius: 6px;
}
.message textarea {
    background-color: #f5f5f5;
    border-color: transparent;
    border-radius: 6px;
}
/* Footer */
.footer{
    background-color: #1C3C6B;
    
}
.footer-main{
    display: flex;
    flex-direction: row;
    width:100%;

    
    
}
.footer h3{
    color: #fff;
    font-weight: 600;
    font-size:18px;
    font-family: "IBM Plex Sans", sans-serif;
}
.footer-copyright h3{
    color: #fff;
    font-weight: 500;
    font-size:18px;
    font-family: "IBM Plex Sans", sans-serif; 
}
.footer-left{
   width:33.33%;
   height:442px;
  
}
.footer-left p{
    color: #E0E0E0;
}
.footer-center{
    width:33.33%;
    height:442px;
 }
 .footer-center p{
     font-size: 1rem;
     font-family: "IBM Plex Sans", sans-serif; 
     color:#fff;
 }
 .footer-right p{
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif; 
    color:#fff;
}
 .footer-right{
    width:33.33%;
    height:442px;
 }
 .footer-icons img{
     color: #fff;
 }
 .location-footer{
     display: flex;
     flex-direction: row;
    align-items: center;
 }
 .phone-footer{
    display: flex;
    flex-direction: row;
   align-items: center;
 }
 .email-footer{
    display: flex;
    flex-direction: row;
   align-items: center;
 }
 .footer-right1{
     display: flex;
     flex-direction: row;
     width:100%;
 }
 .home{
     width:50%;
 }
 .facilities{
     width:50%;
 }
 .footer-right2{
    display: flex;
    flex-direction: row;
    width:100%;
}
.services-footer{
    width:50%;
}
.commitee{
    width:50%; 
}
.footer-right3{
    display: flex;
    flex-direction: row;
    width:100%;
}
.news{
    width:50%;
}
.enquiry{
    width: 50%;
}
.footer-right4{
    display: flex;
    flex-direction: row;
    width:100%;
}
.tourist{
    width:50%;
}
.faq{
    width:50%;
}
/* slider */
.slick-slide{
    margin: 0px 10px;
}
.slick-slide img{
    width:100%;
    height:400px;
}

/* Swiper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    width: 554.36px;
    height: 
    643.07px;
  }
  .left_arrow{
      position: absolute;
      top:50%;
     display: flex;
     align-items: center;
     justify-content: center;
      left: 10px;
      font-size: 14px;
      height:40px;
      width:40px;
      color:#fff;
      flex-shrink: 0;
      z-index: 100;
      background-color:#00B2FF;
      border-radius: 50%;
  }
  .right_arrow{
    position: absolute;
      top:50%;
     display: flex;
     align-items: center;
     justify-content: center;
      right:  10px;
      font-size: 14px;
      height:40px;
      width:40px;
      color:#fff;
      flex-shrink: 0;
      z-index: 100;
      background-color:#00B2FF;
      border-radius: 50%;
}